{% extends './basec.html' %}

{% block body %}

 <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Catalogo de Productos </h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->
<div class="container mt-4" >
MARCAS
  <div class="row">

    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Todas las Marcas</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Asus</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Lenovo</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Dell</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center" style="gap:20px">

                {% for datos in data %}
                    <div class="card" style="width: 18rem;background-color:#BFF074;">
                          <img src=".././static/assets/{{datos[6]}}" class="card-img-top mt-2" alt="{{datos[6]}}">
                          <div class="card-body">
                            <h5 class="card-title">{{datos[1]}}</h5>
                            <p class="card-text"><b>Marca :{{datos[3]}} </b> </p>
                                <p class="card-text"><b>Precio :{{datos[5]}} </b> </p>
                            <a href="{{ url_for('detallecatalogo', id=datos[0],_external=True) }}" class="btn btn-primary">Más Información</a>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

             <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center" style="gap:20px">

                {% for datos in data1 %}
                    <div class="card mb-4" style="width: 18rem;background-color:#BFF074;">
                          <img src=".././static/assets/{{datos[6]}}" class="card-img-top mt-2" alt="{{datos[6]}}">
                          <div class="card-body">
                            <h5 class="card-title">{{datos[1]}}</h5>
                            <p class="card-text"><b>Marca :{{datos[3]}} </b> </p>
                                <p class="card-text"><b>Precio :{{datos[5]}} </b> </p>
                            <a href="{{ url_for('detallecatalogo', id=datos[0],_external=True) }}" class="btn btn-primary">Más Información</a>
                          </div>
                    </div>
                {% endfor %}
            </div>



        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">


             <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center" style="gap:20px">

                {% for datos in data2 %}
                    <div class="card mb-4" style="width: 18rem;background-color:#BFF074;">
                          <img src=".././static/assets/{{datos[6]}}" class="card-img-top mt-2" alt="{{datos[6]}}">
                          <div class="card-body">
                            <h5 class="card-title">{{datos[1]}}</h5>
                            <p class="card-text"><b>Marca :{{datos[3]}} </b> </p>
                                <p class="card-text"><b>Precio :{{datos[5]}} </b> </p>
                            <a href="{{ url_for('detallecatalogo', id=datos[0],_external=True) }}" class="btn btn-primary">Más Información</a>
                          </div>
                    </div>
                {% endfor %}
            </div>



        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">


            <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center" style="gap:20px">

                {% for datos in data3 %}
                    <div class="card mb-4" style="width: 18rem;background-color:#BFF074;">
                          <img src=".././static/assets/{{datos[6]}}" class="card-img-top mt-2" alt="{{datos[6]}}">
                          <div class="card-body">
                            <h5 class="card-title">{{datos[1]}}</h5>
                            <p class="card-text"><b>Marca :{{datos[3]}} </b> </p>
                                <p class="card-text"><b>Precio :{{datos[5]}} </b> </p>
                            <a href="{{ url_for('detallecatalogo', id=datos[0],_external=True) }}" class="btn btn-primary">Más Información</a>
                          </div>
                    </div>
                {% endfor %}
            </div>





        </div>
      </div>
    </div>
  </div>

</div>


<br>
<br>


{% endblock %}