{% extends './basec.html' %}

{% block body %}

{% for datos in data %}
 <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">{{datos[1]}}</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->

<br>
<br>


<div class="container  mt-4" >


    <div class="row">
    <div class="col">
      <img src=".././static/assets/{{datos[6]}}" class="img-fluid" alt="{{datos[6]}}">
    </div>
    <div class="col">

        <b><h3>Caracteristicas </h3></b>
      <ul class="mt-3">
            {{datos[4] | safe}}

      </ul>


        <form action="/ccarrito" method="post">

            <input type="hidden" value="{{datos[0]}}" name="id">
            <input type="hidden" value="{{datos[5]}}" name="precio">

            <button type="submit" class="btn-solid-reg mb-5" >Comprar</button>

        </form>





    </div>
  </div>



</div>
{% endfor %}


<br>
<br>

{% endblock %}