{% extends './basec.html' %}

{% block body %}

 <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Bienvenido {{nom}} </h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->


<div class="container mt-5">

    <center><h2> <b> Menú Rápido</b></h2></center>
    <br>
<div class="container text-center">
  <div class="row">

    <div class="col">

        <div class="card text-center mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Carrito de Compras</h5>
            <img src="../static/assets/pedidos.png" class="img-fluid" alt="compras" width="60%">

            <a href="/cpedidos" class="btn btn-primary mt-3">Ir a Carrito </a>
          </div>
        </div>
    </div>
    <div class="col">
         <div class="card text-center mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Comprobantes de Compra </h5>
           <img src="../static/assets/recibo.png" class="img-fluid" alt="recibo" width="50%">
            <a href="/ccomprobantes" class="btn btn-primary mt-3">Ir a Comprobantes</a>
          </div>
        </div>
    </div>

       <div class="col">
         <div class="card text-center mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Solicitudes de Productos</h5>
            <img src="../static/assets/solicitud.png" class="img-fluid" alt="solicitud" width="60%">
            <a href="/cprestamos" class="btn btn-primary mt-3" >Ir a Solicitudes</a>
          </div>
        </div>
    </div>
  </div>

</div>


</div>
<center>
    <a href="/ccatalogo" class="btn btn-success mt-3" >Ir al Catálogo</a>
</center>

<br>

<br>


{% endblock %}