{% extends './basec.html' %}

{% block body %}


<!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Solicitudes de Prestamos de Equipos </h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->


<div class="container  mt-4" >

     {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                                <div class="alert alert-warning d-flex align-items-center" role="alert">
                                   {% for category, message in messages %}
                                    <div>
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                              {% endif %}
    {% endwith %}


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="text-center align-middle"># Solicitud</th>
        <th scope="col" class="text-center align-middle">Cliente </th>
      <th scope="col" class="text-center align-middle">Cédula</th>
      <th scope="col" class="text-center align-middle">Producto Solicitado</th>
        <th scope="col" class="text-center align-middle">Fecha de Solicitud</th>
        <th scope="col" class="text-center align-middle">Estado</th>
        <th scope="col" class="text-center align-middle">Mensaje</th>


    </tr>
  </thead>
  <tbody>
  {% if data %}
      {% for datos in data %}

        <tr>
          <th scope="row"><i class="bi bi-file-earmark-text-fill"></i> SPR00{{datos[0]}}</th>
            <td class="text-center align-middle">{{datos[1]}}</td>
          <td class="text-center align-middle">{{datos[2]}}</td>
          <td class="text-center align-middle">{{datos[4]}}</td>
            <td class="text-center align-middle">{{datos[5]}}</td>

            <td class="text-center align-middle">

                {% if datos[6] == 0 %}
                    <div class="spinner-border text-secondary" role="status">
                    </div>
                    <span >Se Inicio la Solicitud..</span>


                {% elif datos[6] == 1 %}
                    <div class="spinner-border text-info" role="status">
                    </div>
                    <span >Verificación de Datos.</span>


                {% elif datos[6] == 2 %}
                    <i class="bi bi-check-square-fill" style="color:green"></i>
                    <span >Aprobado.</span>


                 {% elif datos[6] == 3 %}
                    <div class="spinner-border text-black" role="status">
                    </div>
                    <span >Con Novedad.</span>


                {% elif datos[6] == 4 %}
                    <i class="bi bi-x-square-fill" style="color:red"></i>
                    <span >Negado.</span>
                {% endif %}


            </td>
            <td>{{datos[7]}}</td>

        </tr>
      {% endfor %}
  {% else %}
    <tr>
    <td colspan="6" class="text-center">No existen Solicitudes.</td>
  </tr>
{% endif %}

  </tbody>
</table>



</div>

{% endblock %}