/* Estilos para la bola flotante */
.floating-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Estilos para el chat */
.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff; /* Color de fondo del chat */
    display: none;
}
.chat-header {
    background-color: #007BFF;
    border-radius:10px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
}

.chat-body {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    /* Agrega un color de fondo al chat-body */
    background-color: #f0f0f0; /* Puedes ajustar el color según tus preferencias */
}

.chat-footer {
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat-footer input[type="text"] {
    flex: 1;
    margin-right: 10px;
}