{% extends './base.html' %}

{% block body %}
 <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Ayudas</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->

<div class="container">

    <h2> Politica de Prestamos</h2>
     <embed  style="width:100vw;height:100vh" src="../static/pdf/prestamos.pdf" type="application/pdf" >

    <hr>

     <h2> Politica de Compras</h2>
     <embed style="width:100vw;height:100vh" src="../static/pdf/compra.pdf" type="application/pdf" >

</div>


{% endblock %}