{% extends './base.html' %}

{% block body %}

 <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large">Bienvenidos a CompuEc <span class="replace-me">Exelentes precios, Solicita una prueba antes de comprar, Productos de Calidad</span></h1>
                            <p class="p-large">

                                CompuEc es una tienda online que revolucionara el mercado tecnologico del Pais.


                            </p>
                            <a class="btn-solid-lg" href="/catalogo">Mira nuestro Catalogo</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="./static/assets/header-illustration.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of header -->
        <!-- end of header -->

{% endblock %}